* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #222129 !important;
}

.container {
    max-width: 1340px !important;
    margin: 0 auto !important;
    padding: 0 15px !important;
}

.header {
    position: absolute;
    top: 50px;
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    z-index: 100;
}

.header-logo__text {
    a {
        font-family: GothamPro;
        padding-left: 20px;
        font-size: 15px;
        line-height: 14px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #fff !important;
    }
}

.header__menu {
    position: relative;
}

.burger {
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 20000;
}

.burger__top,
.burger__middle,
.burger__bottom {
    position: relative;
    height: 2px;
    background-color: #fff;
    border-radius: 10px;
    transition: all linear .2s;
}

.burger__top {
    width: 35px;
}

.burger__middle {
    position: relative;
    width: 25px;
    &::before {
        transition: all linear .2s;
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        background-color: #fff;
    }
}

.burger__bottom {
    width: 15px;
}

.open {
    .burger__top,
    .burger__bottom {
        width: 0;
    }
    .burger__middle {
        left: 0;
        transform: translateX(0%);
        transform: rotate(45deg);
        &::before {
            transform: rotate(-90deg);
        }
    }
}

.menu__burger-inner {
    position: absolute;
    background: #222129;
    left: -50%;
    display: none;
    opacity: 0;
    z-index: 10;
    max-width: 100%;
    min-height: 1030px;
    width: 100%;
    height: 100%;
    top: 0;
    /* overflow-y: hidden; */
}

.menu__burger {
    background-image: url(../img/bgMenu.svg);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 16px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    /* 
    overflow: scroll; */
    .container {
        max-height: 290px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .menu__burger-item {
        span {
            display: block;
        }
    }
    .row {
        .col-lg {
            display: flex;
            justify-content: center;
        }
    }
    a {
        display: block;
    }
}

.menu__burger-title {
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 50px;
    color: #FFFFFF;
}

.menu__burger-text {
    font-family: Manrope;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #D1D1D1;
}

.banner {
    background-image: url(../img/bgBanner.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center top;
    padding-top: 230px;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.banner__top {
    margin-bottom: 55px;
}

.banner__top-text {
    padding-top: 22px;
    font-family: ManropeLight;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.banner__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.banner__middle-title {
    margin-bottom: 40px;
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 60px;
    letter-spacing: 1px;
}

.banner__middle-text {
    font-family: ManropeLight;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #D1D1D1;
    max-width: 654px;
}

.banner__bottom-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner__bottom-img {
    margin-bottom: 12px;
}

.banner__bottom-img.number {
    span {
        font-family: ManropeLight;
        color: #D1D1D1;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: 0.1em;
        color: transparent;
        -webkit-text-stroke: 1px #F0CC8E;
    }
}

.banner__bottom-text {
    font-family: ManropeLight;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.1em;
}