@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothaProBla.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ManropeLight';
    src: url('../fonts/ManropeLight.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/Philosopher.ttf');
    font-weight: normal;
    font-style: normal;
}