@media(max-width: 993px) {
    .menu__burger-inner {
        min-height: auto;
    }
    .menu__burger .container {
        max-height: 449px;
        justify-content: center;
    }
    .row {
        text-align: center;
    }
    .col-lg {
        margin-bottom: 25px;
    }
    .menu__burger-title {
        font-size: 24px;
        line-height: 24px;
    }
    .menu__burger-text {
        font-size: 16px;
        line-height: 24px;
    }
}

@media(max-width: 839px) {}

@media(max-width:769px) {
    .banner__bottom-item {
        margin-bottom: 20px;
    }
}

@media(max-width: 459px) {
    .header {
        top: 25px;
    }
    .banner {
        padding-top: 130px;
    }
    .banner__top-img img {
        max-width: 100%;
    }
    .banner__top-text {
        font-size: 12px;
    }
    .banner__middle {
        margin-bottom: 70px;
    }
    .banner__middle-title {
        font-size: 34px;
    }
}