@media(max-width: 1071px) {
    .participation__items {
        flex-direction: column;
    }
    .participation__item {
        margin-bottom: 30px;
    }
}

@media(max-width: 949px) {
    .burger {
        display: flex;
    }
    .menu ul {
        background-color: #fff;
        text-align: center;
        width: 100%;
        display: none;
        position: absolute;
        left: 0;
    }
    .menu ul li {
        display: block !important;
        border-bottom: 1px solid black;
    }
    .menu a {
        display: block !important;
    }
    .explanation__item {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .explanation__img--right {
        top: -60px;
    }
    .explanation__text {
        width: 95%;
        padding: 30px 20px;
    }
    .explanation__text--left {
        right: 4px;
    }
    .explanation__text--right {
        left: 18px;
    }
    .explanation__text.explanation__text--left.two,
    .explanation__img.explanation__img--left.two {
        display: block;
    }
    .explanation__text.explanation__text--left.one,
    .explanation__img.explanation__img--left.one {
        display: none;
    }
    .explanation__img.explanation__img--right,
    .explanation__img.explanation__img--left {
        top: -20px;
    }
    .explanation__words--native {
        line-height: 24px;
    }
    .list__title {
        font-size: 30px;
    }
    .list__item-title {
        font-size: 20px;
    }
    .list__item-text {
        margin-left: 50px;
    }
    .list__item {
        margin-bottom: 50px;
    }
    .glava__items {
        flex-direction: column;
        align-items: center;
    }
    .glava__title,
    .reviews__title,
    .author__title,
    .participation__title {
        font-size: 30px;
    }
    .glava__items {
        margin-bottom: 0px;
    }
    .glava__item {
        margin-bottom: 50px;
    }
    .glava__item-text,
    .explanation__words ul li,
    .explanation__words,
    .author__text,
    .list__item-text ul li {
        font-size: 15px;
    }
    .glava__attention {
        font-size: 17px;
        padding: 20px 20px 20px 30px
    }
    .glava__item-text.another {
        margin-top: 0px;
    }
    .glava__attention::after {
        right: 7px;
        bottom: 11%;
    }
    .glava__attention::before {
        left: 7px;
        top: 0%;
    }
    .reviews__img img {
        height: auto;
    }
    .reviews__name {
        font-size: 15px;
    }
    .reviews__text {
        font-size: 15px;
        line-height: 22px;
    }
    .author__title {
        margin-bottom: 35px;
    }
}

@media(max-width: 877px) {
    .banner {
        background-position: center 0vh;
    }
    .banner__title {
        font-size: 20px;
    }
    .banner__h2 {
        font-size: 20px;
    }
}

@media(max-width:715px) {
    .header__contacts {
        text-align: center;
    }
    .header__btn {
        float: none;
        text-align: center;
    }
}

@media(max-width: 500px) {
    .header__phone {
        padding-right: 0;
    }
    .banner__title {
        font-size: 15px;
    }
    .banner__inner {
        height: 67vh;
    }
    .metka__inner {
        flex-direction: column;
    }
    .metka__item {
        text-align: center;
    }
    .metka__item:last-child {
        margin-top: 20px;
    }
    .metka__time {
        margin-right: 10px;
    }
    .reviews__top {
        flex-direction: column;
        align-items: center;
    }
    .reviews__img {
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .reviews__text {
        margin-top: 0px;
        text-align: center;
    }
    .reviews__name {
        margin-bottom: 10px;
    }
    .reviews__item {
        width: 90%;
    }
    .glava {
        padding-bottom: 0px;
    }
    .reviews__inner,
    .glava,
    .list__inner,
    .author {
        padding-top: 35px;
    }
    .list__inner {
        padding-bottom: 35px;
    }
    .explanation__item--native {
        margin-bottom: 35px !important;
    }
    .author__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .author__img {
        float: none;
    }
    .participation__btn-inner {
        margin-top: 0px;
    }
}

@media(max-width: 417px) {
    .header__phone {
        padding-right: 0;
    }
}

@media(max-width: 381px) {
    .participation__item {
        width: auto;
    }
}

@media(min-width: 949px) {
    .menu ul {
        display: block !important;
    }
}