@font-face {
    font-family: "BelindaRegular";
    src: url("../fonts_f/belinda.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Nexa-Heavy";
    src: url("../fonts_f/Nexa-Heavy.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "NexaRegular";
    src: url("../fonts_f/Fontfabric\ -\ NexaRegular.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}